body {
    margin: 0;
}

main {
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 500px;

    margin-top: 24px;
    padding: 10px;

    font-size: 16px;
}

#buttons {
    margin-top: 24px;
}

button {
    margin: 0 4px;
    padding: 10px 20px;
    
    border: none;
    background-color: #f2f2f2;
    color: #757575;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
 }